.ourPromisesMobile {
  background-color: #fff;
  padding: 80px 20px 100px 20px;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.sectionTitle {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: regular;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -1%;
  text-transform: uppercase;
  color: #000;
  margin: 0 0 60px 0;
  text-align: left;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.card {
  display: flex;
  flex-direction: column;

  gap: 28px;
}

.promiseHeading {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: regular;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  text-align: center;
}

.imagePlaceholder {
  width: 100%;
  /* max-width: 400px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.promiseImage {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.promiseImageTag {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.phrase {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #000;
  margin: 0;
  max-width: 500px;
}

.description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #000;
  margin: 0;
  line-height: 1.6;
  max-width: 500px;
  opacity: 0.6;
}

.asteriskText {
  font-style: italic;
  font-size: 14px;
  opacity: 0.8;
}

.buttonContainer {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .ourPromisesMobile {
    padding: 93px 30px 88px;
  }

  .sectionTitle {
    font-size: 50px;
    line-height: 54px;

    align-self: start;
    letter-spacing: -0.01em;
    margin-bottom: 64px;
  }

  .cardsContainer {
    gap: 64px;
  }

  .promiseImage {
    width: 100%;
    height: 375px;
    border-radius: 20px;
  }

  .promiseHeading {
    line-height: 36px;
    align-self: start;
  }

  .phrase {
    line-height: 24px;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
    margin-top: -10px;
    letter-spacing: 0.04em;

    max-width: 100%;
    line-height: 26px;
  }

  .buttonContainer {
    margin-top: -5px;
  }
}

@media (max-width: 480px) {
  .ourPromisesMobile {
    padding: 40px 10px 24px;
  }

  .sectionTitle {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 48px;
  }

  .cardsContainer {
    gap: 44px;
  }

  .card {
    gap: 16px;
  }

  .promiseImage {
    height: 172px;
  }

  .promiseHeading {
    font-size: 16px;
    line-height: 30px;
  }

  .phrase {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.01em;
  }

  .description {
    font-size: 12px;
    line-height: normal;
    margin-top: -6px;
  }

  .buttonContainer {
    margin-top: -1px;
  }
}
