.cta {
  padding: 160px 150px;
  background: linear-gradient(
      180deg,
      rgba(212, 254, 231, 0) 0%,
      #dcf3e9 40.5%,
      #dcf3e8 64%,
      rgba(212, 254, 251, 0) 100%
    ),
    #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0 0 40px 0;
}

.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
  margin: 0 0 52px 0;
  letter-spacing: 0;
  max-width: 595px;
  text-align: center;
}

@media (max-width: 1536px) {
  .cta {
    padding: 153px 151px;
  }
  .title {
    margin: 0 0 47px 0;
  }

  .description {
    letter-spacing: -0.015em;
    line-height: 116%;
    margin: 0 0 50px 0;
  }
}

/* @media (max-width: 1200px) {
  .cta {
    padding: 100px 40px;
  }

  .description {
    font-size: 20px;
  }
} */

@media (max-width: 768px) {
  .cta {
    padding: 290px 20px;
  }

  .description {
    font-size: 20px;
    margin-bottom: 47px;
  }
}

@media (max-width: 480px) {
  .cta {
    padding: 102px 10px;
  }

  .title {
    line-height: 35px;
    margin: 0 0 36px 0;
  }

  .description {
    font-size: 14px;
    letter-spacing: 0.015em;
    margin-bottom: 36px;
  }
}
