.cta {
  padding: 160px 150px;
  background: rgba(245, 245, 245, 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0 0 40px 0;
}

.description {
  font-size: 25px;
  font-weight: 400;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  margin: 0 0 52px 0;
  letter-spacing: 0;
  max-width: 595px;
  text-align: center;
}

@media (max-width: 1200px) {
  .cta {
    padding: 100px 40px;
  }

  .description {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .cta {
    padding: 80px 20px;
  }

  .description {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
