.faqSection {
  padding: 280px 150px 160px;
  background: #f8f8f8;
}

.title {
  font-family: var(--font-eb-garamond);
  font-size: 80px;
  font-weight: 400;
  line-height: 120%;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin: 0;
  max-width: 700px;
}

.tabsContainer {
  margin: 82px 0 80px;
}

.tabs {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 57px;
}

.tab {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 0 0 14px 0;
  font-size: 14px;
  letter-spacing: 0.015em;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 9px;
  text-transform: uppercase;
}

.tab:hover {
  opacity: 0.7;
}

.tab.active {
  opacity: 1;
  border-bottom-color: rgba(0, 0, 0, 1);
}

.accordionContainer {
  max-width: 800px;
  margin: 0 auto;
}

/* Responsive */
@media (max-width: 1536px) {
  .tab {
    font-size: 14px;
    padding: 0 0 8px 0;
  }

  .tabsContainer {
    margin: 40px 0 0;
  }

  .title {
    font-size: 56px;
    max-width: 565px;
  }

  .faqSection {
    padding: 190px 118px 140px;
  }
}

@media (max-width: 768px) {
  .faqSection {
    padding: 273px 30px 160px;
  }

  .title {
    font-size: 64px;
    line-height: 117%;
  }

  .container {
    padding: 0 15px;
  }

  .tabsContainer {
    margin: 65px 0 60px;
  }

  .tabs {
    gap: 25px;
    margin-bottom: 60px;
  }

  .tab {
    padding: 9px 3px;
    font-size: 14px;
    letter-spacing: 0;
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .faqSection {
    padding: 168px 10px 160px;
  }

  .tabsContainer {
    margin: 46px 0 40px;
  }

  .tabs {
    margin-bottom: 44px;
  }

  .title {
    font-size: 32px;
  }

  .tab {
    font-size: 12px;
    padding: 9px 0px;
    letter-spacing: 0.02em;
  }
}
