.title {
  font-family: var(--font-eb-garamond);
  font-size: 50px;
  font-weight: 400;
  line-height: 120%;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin: 0;
  max-width: 479px;
}

@media (max-width: 1200px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}
