.title {
  font-family: var(--font-eb-garamond);
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin: 0;
  max-width: 479px;
}

@media (max-width: 1920px) and (max-height: 980px) {
  .title {
    font-size: 42px !important;
  }
}

@media (max-width: 1536px) and (max-height: 1400px) {
  .title {
    font-size: 42px !important;
    line-height: normal;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 40px !important;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 50px !important;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 28px !important;
    line-height: 36px;
  }
}
