.products {
  padding: 100px 150px;
  background: rgba(255, 255, 255, 1);
}

.header {
  display: flex;
  /* justify-content: flex-end; */
  margin-bottom: 63px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 19px;
  margin-bottom: 124px;
}

.productCard {
  display: flex;
  flex-direction: column;
}

.productImage {
  width: 100%;
  height: 452px;
  background: rgba(200, 200, 200, 1);
  border-radius: 20px;
  margin-bottom: 26px;
}

.productName {
  /* font-family: Inter; */
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  margin: 0 0 12px 0;
  letter-spacing: 0.03em;
}

.productPrice {
  /* font-family: Inter; */
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  opacity: 0.5;
}

.seeAllContainer {
  display: flex;
  justify-content: center;
}

@media (max-width: 1536px) {
  .products {
    padding: 159px 120px 160px;
  }

  .productImage {
    height: 346px !important;
  }

  .grid {
    margin-bottom: 107px;
  }
}

/* @media (max-width: 1200px) {
  .products {
    padding: 80px 40px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .productImage {
    height: 380px;
  }
} */

@media (max-width: 768px) {
  .products {
    padding: 160px 29px;
  }

  .header {
    margin-bottom: 60px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 25px;
    margin-bottom: 108px;
  }

  .productImage {
    height: 344px;
    width: 332px;
    margin-bottom: 28px;
  }

  .productImage {
    margin-bottom: 30px;
  }

  .productName,
  .productPrice {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .products {
    padding: 134px 10px 32px;
  }

  .header {
    margin-bottom: 51px;

    max-width: 200px;
  }

  .grid {
    /* grid-template-columns: 1fr; */
    column-gap: 10px;
    row-gap: 32px;
    margin-bottom: 64px;
  }

  .productImage {
    max-height: 176px;
    width: auto;
    margin-bottom: 17px;
  }

  .productName {
    font-size: 14px;
    margin: 0 0 8px 0;
  }

  .productPrice {
    font-size: 14px;
  }
}
