.footer {
  padding: 120px 150px;
  background: rgba(255, 255, 255, 1);
  position: relative;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}

.logo {
  font-family: var(--font-eb-garamond);
  font-size: 60px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0;
}

.columns {
  display: flex;
  gap: 120px;
}

.column {
  display: flex;
  flex-direction: column;
}

.columnTitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  margin: 0 0 24px 0;
  letter-spacing: 0;
}

.columnLinks {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0.4;
}

.columnLink {
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  transition: opacity 0.2s ease;
  letter-spacing: 0;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 0;
}

.columnLink:hover {
  opacity: 0.7;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  letter-spacing: 0;
  opacity: 0.4;
}

.allRights {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  letter-spacing: 0;
  text-align: right;
  opacity: 0.4;
}

@media (max-width: 1920px) and (max-height: 982px) {
  .footer {
    padding: 110px 300px;
  }
  .logo {
    font-size: 40px;
  }

  .columnTitle {
    font-size: 20px;
  }

  .columnLink {
    font-size: 16px;
  }

  .columns {
    gap: 100px;
  }
}

@media (max-width: 1750px) {
  .columns {
    gap: 65px;
  }

  .logo {
    font-size: 50px;
  }
}

@media (max-width: 1536px) {
  .footer {
    padding: 120px 150px 40px;
  }

  .logo {
    font-size: 36px;
  }
  .content {
    margin-bottom: 100px;
    gap: 151px;
  }

  .columnTitle {
    font-size: 16px;
  }

  .columnLink {
    font-size: 16px;
  }

  .columns {
    gap: 0; /* Убираем общий gap */
  }

  /* Разные расстояния для каждой колонки */
  .column:nth-child(1) {
    margin-right: 128px; /* Расстояние после первой колонки */
  }

  .column:nth-child(2) {
    margin-right: 54px; /* Расстояние после второй колонки */
  }

  .column:nth-child(3) {
    margin-right: 53px; /* Расстояние после третьей колонки */
  }

  .column:nth-child(4) {
    margin-right: 0; /* Последняя колонка без отступа */
    max-width: 172px;
  }
}

@media (max-width: 1300px) {
  .column:nth-child(1) {
    margin-right: 80px;
  }

  .content {
    gap: 95px;
  }
}

@media (max-width: 1280px) {
  .footer {
    padding: 120px 120px 40px;
  }

  .column:nth-child(1) {
    margin-right: 77px;
  }

  .column:nth-child(3) {
    margin-right: 32px;
  }
}

@media (max-width: 1100px) {
  .content {
    gap: 60px;
  }

  .footer {
    padding: 120px 80px 40px;
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 109px 30px;
  }

  .content {
    flex-direction: column;
    gap: 66px;
    margin-bottom: 97px;
  }

  .columns {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 50px;
    column-gap: 0px;
    width: 100%;
  }

  .column {
    width: 100%;
  }

  .logo {
    font-size: 48px;
    text-align: center;
  }

  .bottomRow {
    /* flex-direction: column; */
    gap: 16px;
    text-align: center;
  }

  .allRights {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 121px 10px 70px;
    overflow: hidden;
  }

  .logo {
    font-size: 32px;
  }

  .content {
    gap: 60px;
  }

  .columns {
    flex-direction: column;
    column-gap: 27px;
    row-gap: 55px;
  }

  .column {
    min-width: 100%;
  }

  .columnTitle {
    margin: 0 0 15px 0;
  }

  .columnLink {
    font-size: 12px;
  }

  .columnLinks {
    gap: 8px;
  }

  .copyright {
    font-size: 12px;
  }

  .allRights {
    font-size: 12px;
  }
}
